@media only screen and (max-width: 768px) {
  // Home
  #home {
    text-align: center;
    .home-wrapper {
      grid-template-columns: 1fr;
    } //End .home-wrapper
  } //End #home

  // Contact
  #contact {
    padding-top: 50px;
    text-align: center;
    .contact-wrapper {
      grid-template-columns: 1fr;
      &-form {
        padding: 20px;
      }
      &-content {
        padding: 20px
      } //End &-content
    } //End .contact-wrapper
  } //End #contact
} //End @media